@import "./reset.css";
body {
  font-family: "benguiat rus";
  font-weight: bold;
  background-image: url("../images/bg-1.jpg");
  width: 100%;
  height: 100%;
  background-size: initial;
  display: block;
}

/* HEADER */
nav {
  margin: 30px auto;
  width: 950px;
  height: 100px;
  font-size: 20px;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.menu a {
  text-decoration: none;
  color: rgb(229, 6, 229);
  display: inline-block;
  margin-left: 30px;
  padding: 10px 20px;
  background-color: none;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 20px black;
  border-bottom: 5px solid purple;
}
.menu li {
  display: inline;
}
.menu li :hover {
  opacity: 80%;
}

/* CHAPTER-1 */

.container-1 {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  column-gap: 100px;
  margin: 50px auto;
}
.container-1 p {
  color: white;
  max-width: 50%;
}
.container-1 img {
  max-width: 100%;
}
.container-2 {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  justify-content: space-between;
  column-gap: 100px;
  margin: 50px auto;
}
.container-2 p {
  color: white;
  max-width: 50%;
}
.container-2 img {
  max-width: 100%;
}
